@using TbsGroup.ViewModels;
@model TbsGroup.Models.FilterCoditionModel
<script id="js">
    $(function () {
        $('#table1').tablesorter({
            widthFixed: true,
            widgets: ['zebra','cssStickyHeaders']
        });
    });

</script>
<table id="table1" class="tablesorter hasFilters @ViewBag.ClassName">    
    <thead>
        <tr>
            @if (Model.SelectedMode == "NGANH")
            {
                <th>Ngành</th>
            }
            else if (Model.SelectedMode == "KHVUC")
            {
                <th>Khu Vực</th>
            }
            else if (Model.SelectedMode == "WRKCT")
            {
                <th>Work Center</th>
            }
            else
            {
                <th>Chuyền</th>
            }
            <th>Công Đoạn</th>
            <th>SL LĐ</th>
            <th>N.Suất</th>
            <th>Giờ LV</th>
            <th>KH Giờ</th>
            <th>KH Ngày</th>
            <th>+/-</th>
            <th>% TH/KH</th>
            <th>Thực Hiện</th>
            <th>Tr.08h</th>
            <th>08h</th>
            <th>09h</th>
            <th>10h</th>
            <th>11h</th>
            <th>12h</th>
            <th>13h</th>
            <th>14h</th>
            <th>15h</th>
            <th>16h</th>
            <th>17h</th>
            <th>18h</th>
            <th>19h</th>
            <th no-wrap class="col-num-short" style="text-align:center;">Sau 19h</th>
        </tr>
    </thead>
    <tbody id="sanluong-tbody" style="margin-top:120px;">
        @if (ViewData["SL_Online"] != null)
            {
                foreach (TbsGroup.ViewModels.SanLuongOnline slsx in (List<TbsGroup.ViewModels.SanLuongOnline>)ViewData["SL_Online"])
                {
                <tr>
                    @if (Model.SelectedMode == "NGANH")
                    {
                        <td id="fix-col-body" class="col-chuyen">@slsx.TenNganh</td>
                    }
                    else if (Model.SelectedMode == "KHVUC")
                    {
                        <td id="fix-col-body" class="col-chuyen">@slsx.TenKhuVuc</td>
                    }
                    else if (Model.SelectedMode == "WRKCT")
                    {
                        <td id="fix-col-body" class="col-chuyen">@slsx.TenWorkCenter</td>
                    }
                    else
                    {
                        <td id="fix-col-body" class="col-chuyen">@slsx.TenChuyen</td>
                    }
                    <td class="col-congdoan" style="text-align:center">@slsx.CongDoan</td>
                    <td class="col-slld @slsx.Status" style="text-align:right">@slsx.SoLuongLD.ToString("#,#")</td>
                    @if (@slsx.NangSuat > 0 )
                    {
                        <td class="col-num-long @slsx.Status" style="text-align:right">@slsx.NangSuat.ToString("0.00")</td>
                    }
                    else
                    {
                        <td class="col-num-long @slsx.Status" style="text-align:right"></td>
                    }
                    @if (@slsx.GioLamViec > 0)
                    {
                    <td class="col-num-long @slsx.Status" style="text-align:right">@slsx.GioLamViec.ToString("0.00")</td>
                    }
                    else
                    {
                        <td class="col-num-long @slsx.Status" style="text-align:right"></td>
                    }
                    <td class="col-num-long @slsx.Status" style="text-align:right">@slsx.KeHoachGio.ToString("#,#")</td>
                    <td class="col-num-long @slsx.Status" style="text-align:right"> @slsx.SanLuongKH.ToString("#,#")</td>
                    <td class="col-num-long @slsx.Status @slsx.classTHNgay" style="text-align:right">@slsx.ChenhLech.ToString("#,#")</td>
                    @if (@slsx.DatKeHoach > 0)
                    {
                        <td class="col-num-long @slsx.Status" style="text-align:right">@slsx.DatKeHoach.ToString("0.00")%</td>
                    }
                    else
                    {
                        <td class="col-num-long @slsx.Status" style="text-align:right"></td>
                    }                                    
                    <td class="col-num-long @slsx.Status @slsx.classTHNgay" style="text-align:right">@slsx.SanLuongTH.ToString("#,#")</td>
                    <td class="col-num-short col-num-short @slsx.Status @slsx.class7h" style="text-align:right">@slsx.Gio07.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class8h" style="text-align:right">@slsx.Gio08.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class9h" style="text-align:right">@slsx.Gio09.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class10h" style="text-align:right">@slsx.Gio10.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class11h" style="text-align:right">@slsx.Gio11.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class12h" style="text-align:right">@slsx.Gio12.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class13h" style="text-align:right">@slsx.Gio13.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class14h" style="text-align:right">@slsx.Gio14.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class15h" style="text-align:right">@slsx.Gio15.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class16h" style="text-align:right">@slsx.Gio16.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class17h" style="text-align:right">@slsx.Gio17.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class18h" style="text-align:right">@slsx.Gio18.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class19h" style="text-align:right">@slsx.Gio19.ToString("#,#")</td>
                    <td class="col-num-short @slsx.Status @slsx.class20h" style="text-align:right">@slsx.Gio20.ToString("#,#")</td>
                </tr>
            }
        }
    </tbody>
</table>
