@model TbsGroup.Models.FilterCoditionModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

}

@*Giang Style*@
<link href="~/Content/bootstrap.min.3.3.6.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="~/Content/CommonStyle.css" />*@
<link rel="stylesheet" type="text/css" href="~/Content/LiveboardStyle.css" />

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-getdata').click(function (e) {
            var level = $('#level-view').val();
            var capdo = $('#capdo').val();
            var giatricapdo = $('#giatricapdo').val();
            var congdoan = $('#congdoan').val();
            $.ajax({
                url: '@Url.Action("GetListData", "Liveboard")',
                data: {
                    level: level,
                    capdo: capdo,
                    giatricapdo: giatricapdo,
                    congdoan: congdoan
                },
                dataType: "html",
                type: "GET",
                contentType: 'application/html; charset=utf-8',
                success: function (data) {
                    $('#partial_data').html(data);
                },
                error: function (e) {
                    alert("Something went wrong." + e.message);
                }
            });
        });
    });
</script>

<!---JavaScript Cascade Dropdownlist-->
<script type="text/javascript" src="~/Scripts/jquery.1.7.2.min.js"></script>
<script type="text/javascript">
            $(function () {
                $("#capdo").change(function () {
                    var val = $(this).val();
                    var subItems = "";
                    $.getJSON("@Url.Action("GetSub", "Liveboard")", { CapDoID: val }, function (data) {
                        $.each(data, function (index, item) {
                            subItems += "<option value='" + item.Value + "'>" + item.Text + "</option>"
                        });
                        $("#giatricapdo").html(subItems)
                    });
                });
            });
</script>


<!--refresh data-->
<script>
    window.onload = function () {
        $("#btn-getdata").click();
    }
    setInterval(function refresh() { $("#btn-getdata").click() }, 5000);
</script>
<!--Hide / Show top page-->
<script>
    function myFunction() {
        var x = document.getElementById('TilePage');
        if (x.style.display === 'none') {
            x.style.display = 'block'
        } else {
            x.style.display = 'none';
        }
        var y = document.getElementById('SecltionGroup');
        if (y.style.display === 'none') {
            y.style.display = 'block';
            x.style.align = 'center';
        } else {
            y.style.display = 'none';
        }

        var elem = document.getElementById("btnShowHide");
        if (elem.value == "Hide Top") elem.value = "Show Top";
        else elem.value = "Hide Top";
    }
</script>
@*<div id="top-menu" class="top-link" align="right">
        <input id="btnShowHide" type="button" onclick="myFunction()" class="label-selection" value="Hide Top" />
        @Html.ActionLink("Home Page", "Index", "GridView")
        @Html.ActionLink("Log out", "Index", "Login")
    </div>*@
<nav class="navbar" style="background-color:white;width:100%;padding:0px;min-height:55PX;">
    @*<div id="TilePage">
            <table align="center">
                <tr>
                    <td>
                        <img src="~/Images/logo.png" alt="logo TBS" height="40" width="90" />
                    </td>
                    <td ></td>
                    <td>
                        Báo Cáo Sản Lượng Online
                    </td>
                </tr>
            </table>
        </div>*@        
    <div style="margin-top:10px; margin-bottom:10px;">
        <table class="table-selection " style="margin:auto;">
            <tr>                
                <td class="label-default" style="background-color: white;min-width:70px">
                    Mode:
                </td>
                <td class="cell-control" style="background-color: white;min-width:120px">
                    @Html.DropDownList("SelectedMode", (IEnumerable<SelectListItem>)ViewBag.SelectedMode,
                    new { @class = "dropdown-toggle", @id = "level-view" })
                </td>
                <td class="label-default" style="background-color: white;min-width:70px">
                    Level:
                </td>
                <td class="cell-control" style="background-color: white;min-width:120px">
                    @Html.DropDownList("SelectedCapDo", (IEnumerable<SelectListItem>)ViewBag.SelectedCapDo,
                    new { @class = "dropdown-toggle", @id = "capdo" })
                </td>
                <td class="label-default" style="background-color: white;min-width:70px">
                    Value:
                </td>
                <td class="cell-control" style="background-color: white;min-width:120px">
                    @Html.DropDownList("SelectedGiaTriCapDo", (IEnumerable<SelectListItem>)ViewBag.SelectedGiaTriCapDo,
                        new { @class = "dropdown-toggle", @id = "giatricapdo" })
                </td>
                <td class="cell-control" style="background-color: white;min-width:70px">
                    Công Đoạn:
                </td>
                <td class="cell-control" style="background-color: white;min-width:120px">
                    @Html.DropDownList("SelectedCongDoan", (IEnumerable<SelectListItem>)ViewBag.SelectedCongDoan,
                    new { @class = "dropdown-toggle", @id = "congdoan" })
                </td>
                <td class="cell-control" style="background-color: white;min-width:100px">
                    <button id="btn-getdata" type="button" class="btn-control btn-primary" onclick="">Get Data</button>
                </td>
            </tr>
        </table>
    </div>        
</nav>
<section class="content-area">
    <div id="partial_data" class="table-area">
    </div>
</section>