@using ZEMP.Models;
@using ZEMP.Header;
@model ZEMP.Models.FilterCondition

<!---LINK FOR GOOGLE CHARTS-->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" defer async></script>
<script src="//www.google.com/jsapi"></script>
 

<table id="table1" class="tablesorter hasFilters @ViewBag.ClassName" role="grid">
    <thead>
        <tr>
            @if (Model.SelectedMode == "NGANH")
            {
                <th>Ngành</th>
            }
            else if (Model.SelectedMode == "KHVUC")
            {
                <th>Khu Vực</th>
            }
            else if (Model.SelectedMode == "WRKCT")
            {
                <th>Work Center</th>
            }
            else
            {
                <th class="col-chuyen">Chuyền</th>
            }
            <th class="col-congdoan">Công Đoạn</th>
            <th class="col-slld">SL LĐ</th>
            <th class="col-num-short">N.Suất</th>
            <th class="col-num-short">Giờ LV</th>
            <th class="col-num-short">KH Giờ</th>
            <th class="col-num-long">KH Ngày</th>
            <th class="col-num-long">Thực Hiện</th>
            <th class="col-num-long">+/-</th>
            <th class="col-num-short">% TH/KH</th>
            <th class="col-num-long">Trc.08h</th>
            <th class="col-num-short">08h</th>
            <th class="col-num-short">09h</th>
            <th class="col-num-short">10h</th>
            <th class="col-num-short">11h</th>
            <th class="col-num-short">12h</th>
            <th class="col-num-short">13h</th>
            <th class="col-num-short">14h</th>
            <th class="col-num-short">15h</th>
            <th class="col-num-short">16h</th>
            <th class="col-num-short">17h</th>
            <th class="col-num-short">18h</th>
            <th class="col-num-long">Sau 19h</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["SL_Online"] != null)
            {
                foreach (SanLuongOnline slsx in (List<SanLuongOnline>)ViewData[CommonHeader.VIEWDATA_SL_ONLINE])
                {
                <tr>
                    <td class="col-chuyen">@slsx.BoPhan</td>
                    <td class="col-congdoan">@slsx.CongDoan</td>
                    <td class="col-slld">@slsx.SoLuongLaoDong.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.NangSuat.ToString("#,#.##")</td>
                    <td class="col-num-short">@slsx.GioLamViec.ToString("#,#.##")</td>
                    <td class="col-num-short">@slsx.KeHoachGio.ToString("#,#")</td>
                    <td class="col-num-long"> @slsx.KeHoachNgay.ToString("#,#")</td>
                    <td class="col-num-long">@slsx.ThucHien.ToString("#,#")</td>
                    <td class="col-num-long">@slsx.ChenhLech.ToString("#,#")</td>
                    @if (@slsx.DatSanLuong > 0)
                    {
                        <td class="col-num-long @slsx.sColorText" style="text-align:right">@slsx.DatSanLuong.ToString("#,#.##") %</td>
                    }
                    else
                    {
                        <td class="col-num-long @slsx.sColorText" style="text-align:right">0 %</td>
                    }
                    <td class="col-num-long">@slsx.Truoc8h.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio08.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio09.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio10.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio11.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio12.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio13.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio14.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio15.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio16.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio17.ToString("#,#")</td>
                    <td class="col-num-short">@slsx.Gio18.ToString("#,#")</td>
                    <td class="col-num-long">@slsx.Sau18.ToString("#,#")</td>
                </tr>
            }
        }
    </tbody>
</table>
