@model ZEMP.Models.FilterCondition
@{
    Layout = null;

}
@*Giang Style*@
@*<link href="~/Content/bootstrap.min.3.3.6.css" rel="stylesheet" />*@
@*<link rel="stylesheet" type="text/css" href="~/Content/CommonStyle.css" />*@
@*<link rel="stylesheet" type="text/css" href="~/Content/LiveboardStyle.css" />*@

<!DOCTYPE html>
<html>
<head>

    <!--Load partial view-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-getdata').click(function (e) {
                var level = $('#level-view').val();
                var capdo = $('#capdo').val();
                var giatricapdo = $('#giatricapdo').val();
                var congdoan = $('#congdoan').val();
                var className = $('#btnStyle').val();

                $.ajax({
                    url: '@Url.Action("GetListData", "Liveboard")',
                    data: {
                        level       : level,
                        capdo       : capdo,
                        giatricapdo : giatricapdo,
                        congdoan    : congdoan,
                        sStyle      : className
                    },
                    dataType: "html",
                    type: "GET",
                    contentType: 'application/html; charset=utf-8',
                    success: function (data) {
                        $('#partial_data').html(data);
                    },
                    error: function (e) {
                        alert("Vui lòng tải lại trang.");
                    }
                });
            });
        });
    </script>

    <!---JavaScript Cascade Dropdownlist-->
    @*<script type="text/javascript" src="~/Scripts/jquery.1.7.2.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            $("#capdo").change(function () {
                var val = $(this).val();
                var subItems = "";
                $.getJSON("@Url.Action("GetSub", "Liveboard")", { CapDoID: val }, function (data) {
                    $.each(data, function (index, item) {
                        subItems += "<option value='" + item.Value + "'>" + item.Text + "</option>"
                    });
                    $("#giatricapdo").html(subItems)
                });
            });
        });
    </script>


    <!--refresh data-->
    <script>
        window.onload = function () {
            $("#btn-getdata").click();
        }
        setInterval(function refresh() { $("#btn-getdata").click() }, 60000);
    </script>


    <!--------------------------Format table---------------------------------------------->
    <!-- jQuery -->
    <script src="~/Content/tablesort/js/jquery-latest.min.js"></script>
    <script src="~/Content/tablesort/js/jquery-ui.min.js"></script>

    <!-- Demo stuff -->
    <link rel="stylesheet" href="~/Content/tablesort/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/tablesort/css/jq.css">
    <link rel="stylesheet" href="~/Content/tablesort/css/prettify.css">
    <link rel="stylesheet" href="~/Content/tablesort/css/magnific-popup.css">

    <script src="~/Content/tablesort/js/prettify.js"></script>
    <script src="~/Content/tablesort/js/docs.js"></script>
    <script src="~/Content/tablesort/js/jquery.magnific-popup.min.js"></script>

    <!-- Tablesorter: theme -->
    <link href="~/Content/tablesort/theme/theme.common.css" rel="stylesheet" />
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.default.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.blue.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.green.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.grey.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.ice.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.black-ice.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.dark.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.dropbox.css">
    <link class="theme" rel="stylesheet" href="~/Content/tablesort/theme/theme.metro-dark.css">

    <!-- Tablesorter script: required -->
    <script src="~/Content/tablesort/js/jquery.tablesorter.js"></script>
    <script src="~/Content/tablesort/js/jquery.tablesorter.widgets.js"></script>
    <script src="~/Content/tablesort/js/widget-cssStickyHeaders.js"></script>
    <style>
        
    </style>

</head>
<body>
    <nav class="navbar" style="background-color:white;width:100%;padding:0px;min-height:40px;">
        <div style="margin-top:10px; margin-bottom:10px;">
            <table class="table-selection " style="margin:auto;">
                <tr>
                    <td class="label-default" style="background-color: white;min-width:70px">
                        Mode:
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:120px">
                        @Html.DropDownList("SelectedMode", (IEnumerable<SelectListItem>)ViewBag.SelectedMode,
                    new { @class = "dropdown-toggle", @id = "level-view" })
                    </td>
                    <td class="label-default" style="background-color: white;min-width:70px">
                        Level:
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:120px">
                        @Html.DropDownList("SelectedCapDo", (IEnumerable<SelectListItem>)ViewBag.SelectedCapDo,
                    new { @class = "dropdown-toggle", @id = "capdo" })
                    </td>
                    <td class="label-default" style="background-color: white;min-width:70px">
                        Value:
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:120px">
                        @Html.DropDownList("SelectedGiaTriCapDo", (IEnumerable<SelectListItem>)ViewBag.SelectedGiaTriCapDo,
                        new { @class = "dropdown-toggle", @id = "giatricapdo" })
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:70px">
                        Công Đoạn:
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:120px">
                        @Html.DropDownList("SelectedCongDoan", (IEnumerable<SelectListItem>)ViewBag.SelectedCongDoan,
                    new { @class = "dropdown-toggle", @id = "congdoan" })
                    </td>
                    <td class="cell-control" style="background-color: white;min-width:100px">
                        <button id="btn-getdata" type="button" class="btn-control btn-primary" onclick="">Get Data</button>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <!-------------------------------------------DATA PARTIAL VIEW--------------------------------------->
    <div id="partial_data" class="table-area"></div>

    <!---------------------------------------------SELECT STYLE------------------------------------------>
    <div style="width:100%;">
    <div class="dropdown" style="width:20%; margin:auto;">
        Style:
        <input type="button" id="btnStyle" onclick="myFunction()" class="dropbtn" value="Default"></input>
        <div id="myDropdown" class="dropdown-content">
            <a href="#" onclick="SetCss(0)">Default</a>
            <a href="#" onclick="SetCss(1)">Blue</a>
            <a href="#" onclick="SetCss(2)">Dark</a>
        </div>
    </div>
    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {            
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function SetCss(idxCss) {
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');

            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.media = 'all';
            if (idxCss === 0) {
                link.href = '../../Content/tablesort/theme/theme.default.css';
                var d = document.getElementById("table1");
                d.className = "tablesorter hasFilters tablesorter-default";
                document.getElementById("btnStyle").value = "Default";

            }
            else if (idxCss === 1) {
                link.href = '~/Content/tablesort/theme/theme.blue.css';
                var d = document.getElementById("table1");
                d.className = "tablesorter hasFilters tablesorter-blue";
                
                var b = document.getElementById("btnStyle");
                b.value = "Blue";
            }
            else if (idxCss === 2) {
                link.href = '~/Content/tablesort/theme/theme.dark.css';
                var d = document.getElementById("table1");
                d.className = "tablesorter hasFilters tablesorter-dark";
                document.getElementById("btnStyle").value = "Dark";
            }
            //head.appendChild(link);
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('#btnStyle'))
            {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>